<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% if subtitle is defined %}
			 {{ subtitle }} |
		{% endif %}

		{{ title|default('The PokéMart of Central FL') }}
	</title>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}">

		{% stylesheets
			'@PokemartBundle/Resources/public/css/Common/*'
		%}
			<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
	{% endblock %}
</head>
<body>
	{% block header %}
		{% include 'PokemartBundle:Common:header.html.twig' %}

		{% block flashes %}
			{% include 'PokemartBundle:Common:flashes.html.twig' %}
		{% endblock %}
	{% endblock %}

	<div id="main-content" class="container">
		{% block content %}
			{% if content is defined %}
				{{ content|raw }}
			{% else %}
				Your content will go here. Make sure you override the <code>content</code> block.
			{% endif %}
		{% endblock %}
	</div>

	{% block footer %}
		{% include 'PokemartBundle:Common:footer.html.twig' %}
	{% endblock %}

	{% block modals %}{% endblock %}

	{% block javascripts %}
		<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

		{% javascripts
			'@PokemartBundle/Resources/public/js/Common/*'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
</body>
</html>