<div id="common-flashes" class="container">
	{% for level in FlashLevels.levels %}
		{% for flash in app.session.flashBag.get(level) %}
			<div class="alert alert-{{ level }} alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				{{ flash }}
			</div>
		{% endfor %}
	{% endfor %}
</div>