{% set _route = app.request.attributes.get('_route') %}

<header id="common-site-header" class="container">
	<h1>The PokéMart of Central Florida</h1>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#common-site-header-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="{{ path('home') }}">
					{% image '@PokemartBundle/Resources/public/images/Common/logo.svg' %}
						<img src="{{ asset_url }}" alt="logo">
					{% endimage %}
				</a>
			</div>

			<div class="collapse navbar-collapse" id="common-site-header-collapse">
				<ul class="nav navbar-nav">
					<li class="{{ isActive(_route, 'home') }}">
						<a href="{{ path('home') }}">Home</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% if app.user %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Welcome, Tyler! <span class="caret"></span>
							</a>

							<ul class="dropdown-menu">
								<li><a href="#">My Account</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ path('account.logout') }}">Log Out</a></li>
							</ul>
						</li>
					{% else %}
						<li class="{{ isActive(_route, 'account.login', true) }}">
							<a href="{{ path('account.login') }}">Log In</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>