{% extends 'PokemartBundle:Common:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	{% stylesheets
		'@PokemartBundle/Resources/public/css/Login/index.scss'
	%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
	<form action="{{ path('account.login.submit') }}" method="post">
		<input type="hidden" name="redirect" value="{{ app.request.get('redirect') }}">

		<div class="form-group">
			<label for="_username" class="control-label">Email Address:</label>

			<input type="text" class="form-control" name="_username" id="_username" value="{{ username|default }}" autofocus>
		</div>

		<div class="form-group">
			<label for="_password" class="control-label">Password:</label>

			<input type="password" id="_password" class="form-control" name="_password">
		</div>

		<div class="form-group">
			<label>
				<input type="checkbox" name="_remember_me" id="_remember_me"> Remember Me
			</label>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-block btn-primary">Log In</button>
		</div>
	</form>
{% endblock %}